*{
  padding: 0;
  margin: 0;
  box-sizing:border-box
}
.top-nav{
  height:35px;
  border:1px solid #ddd;
  background: #f7f7f7;
}
.content{
  margin:0 30px;
  line-height: 32px;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}
.fix:after{
  content: "";
  clear: both;
}
